:root {
    --a-hover: #f10d0d;
    --a: #f66a6a;
    --text-color: #f2f2f2;
    --backgraund-color: #000000E0;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: "Cambria Math", serif;
}
h1,h2,h3 {
    margin: 0;
}

.container {
    padding: 2em 4em 0 4em;
}
@media screen and (max-width: 768px) {
    .container {
        padding: 2em 2em 0 2em;
    }

}

/*start colors*/

a {
    color: var(--a);
}
a:hover {
    color: var(--a-hover);
}

/*end colors*/


/*start font sizes*/
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p,a,code {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

/*end font sizes*/

/* start flex*/
.flex {
    display: flex;
}

.fl-jc-c {
    justify-content: center;
}

.fl-al-c {
    align-items: center;
}

.fl-jc-sb {
    justify-content: space-between;
}

.fl-jc-sa {
    justify-content: space-around;
}

.fl-dr-col {
    flex-direction: column;
}
/* end flex*/

/*start markup*/
.w-100 {
    width: 100%;
}

.p-20 {
    padding: 1.4em;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.m-20 {
    margin: 20px;
}

/*end markup*/

/*start background*/
.video-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -999;
}

.video-container > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*end background*/

/*start header*/
.header {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: calc(100% - 2em);
    background: var(--backgraund-color);
    border-radius: 10%;

}

.header_photo > img {
    height: 120px;
    border-radius: 25%;
}

.header_name > h1 {
    padding: 0;
}

/*start navbar*/
.header_nav {
}

.header_nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header_nav > ul > li {
    display: inline;
    background: var(--backgraund-color);
    text-transform: uppercase;
    padding: 10px;
}

.header_nav > li > a {
    text-decoration: none;
    color: var(--backgraund-color);
}

.header_nav > li > a:hover {
    text-decoration: none;
}

/*end navbar*/

/*start main*/
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: justify;

}

.main > a {
    position: fixed;
    right: 1.3em;
    bottom: 1.3em;
    padding: 1em;
    border-radius: 50%;
    color: var(--a);
    background: var(--backgraund-color);
}

.main_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 45%;
    padding: 1em;
    margin: 1em;
    background: var(--backgraund-color);
    border-radius: 5%;
}

.main_block > pre {
    border-radius: 5%;
    max-width: 85vw;
    overflow-x: scroll;
    padding: 1em;
    background: #002456;
}

.main_block > ul > li {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.main_block > ul > li > hr {
    width: 100%;
    height: 1px;
    text-align: end;
}

.main_block > ul > li > p {
    width: 100%;
    margin: 0;
    padding: 0;
}

/*end main*/

.footer {

}